<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="cn.read.mapper.SysLogMapper">
    	<insert id="saveSysLog">
    	insert into syslog (id,username,ip,url,executeTime,method,visitTime)values(#{id},#{username},#{ip},#{url},#{executeTime},#{method},#{visitTime})
    	</insert>
    	<select id="findAllhistory" resultType="cn.read.dao.SysLog">
    	select * from syslog
    	</select>
    </mapper>